html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    /* outline: 2px solid red; */
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    justify-content: center;
}

body{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65vh;
}

#weapon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

p{
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.choice{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.choice:hover{
    background-color: gray;
}

.score{
    margin-bottom: 0px; 
}

.scoreVs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



img{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
}

