html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    outline: 2px solid red;
}

body{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#weapon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

p{
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.choice{
    width: 240px;
    height: 240px;
}


img{
    width: 240px;
    height: 240px;
    margin: 0;
    padding: 0;
}

